extends layout

block style 
  link(rel="stylesheet" href="./stylesheets/transaction_list.css")
  script(src="https://code.jquery.com/jquery-latest.min.js")
  script(src="./scripts/transactions.js" defer)

block content
  h1= title

  if transactions
    div.purple(class=user=="admin"?"purple-quad":"")
        div#sorting 
          p Sort
          div#sortingDD(class=user=="admin"?"dd-quad":"")
            div.quantity
              h4 Amount
              p#quantAsc Ascending
              p#quantDesc Descending

            div.date
              h4 Date
              p#dateAsc Ascending
              p#dateDesc Descending

        div#filtering Filter
          div#filteringDD(class=user=="admin"?"dd-quad":"")
            div
              h4 Date
              p#day Last Day
              p#week Last Week
              p#month Last Month

    ul#main(class=user=="admin"?"quad":"")
      each transaction in transactions
        li
          div.leftie
            div
              p.invisible #{transaction.TransactionID}
              p.description #{transaction.Description}
              p.date #{transaction.Date?transaction.Date.toISOString().split('T')[0]:''}


          div.categoryName
            p #{transaction.CategoryName} 

          if(user=="admin")
            div.user
              p #{transaction.Email}
          //-p
            | TransactionID: #{transaction.TransactionID}, Type: #{transaction.Type}, Amount: #{transaction.Amount},
            | Date: #{transaction.Date ? transaction.Date.toISOString().split('T')[0] : 'N/A'}
            | Description: #{transaction.Description}

          div.rightie
            p.amount #{transaction.Amount}
            p.dots ⋯
            div.options.invisible(class=user=="admin"?"options-quad":"")
              - let urlUpdate = `/transactions/${transaction.TransactionID}/update`
              a(href=urlUpdate)#update Update
              a(href="#" data-id=transaction.TransactionID)#delete Delete

      
    dialog
      form(method='POST')
        div
          p Are you sure you want to delete this transaction?
          br
          p.storage
        
        div.invisible
          input(type='text' name='transaction_id' id='secret')
        
        div.buttons
          button(type="submit" id='submit') Yes
          button(type="close" id='close') No

  else
    p There are no transactions

  